{% extends "base.html" %}

{% block content %}
<div class="blog-container">
  <header class="header">
    <h1 class="title">{{ section.title }}</h1>
  </header>

  <div class="posts">
    {% for page in paginator.pages %}
    <article class="post">
      <div class="card">
        <h3 class="card__title">{{ page.title }}</h3>
        <div class="card__content">{{ page.description }}</div>
        {% if page.taxonomies.tags %}
        <div class="post-tags">
          {% for tag in page.taxonomies.tags %}
          <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}" class="tag">{{ tag }}</a>
          {% endfor %}
        </div>
        {% endif %}

        <div class="card__footer">
          <a href="{{ page.permalink }}" class="button">إقرأ المزيد</a>
        </div>
      </div>
    </article> {% endfor %}
  </div>

  <nav class="pagination">
    {% if paginator.previous %}
    <a class="previous" href="{{ paginator.previous }}">‹ السابق</a>
    {% else %}
    <span></span>
    {% endif %}

    {% if paginator.next %}
    <a class="next" href="{{ paginator.next }}">التالي ›</a>
    {% else %}
    <span></span>
    {% endif %}
  </nav>
</div>
{% endblock content %}