{% extends "base.html" %}

{% block content %}
<style>
  .blog-post-container {
    background: var(--primary-color);
    color: var(--text-color);
    margin: 1rem;
  }

  a {
    color: var(--link-text-color);
  }

  img {
    width: 100%;
  }

  pre {
    direction: initial;
  }

  code {
    background: #2B303B;
    color: #C0C5CE;
  }
</style>
<div class="blog-post-container">
  <header>
    <h1 class="title">
      {{ page.title }}
    </h1>
  </header>
  <p class="subtitle"><strong>{{ page.date }}</strong></p>
  <br />
  {{ page.content | safe }}
</div>
<div class="comments">
  <script src="https://utteranc.es/client.js" repo="bksalman/blogman" issue-term="pathname" label="blog-comment"
    theme="dark-blue" crossorigin="anonymous" async>
    </script>
</div>
{% endblock content %}